<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.min.js"></script>
    <script src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
<header class="header">
    <!--输入框-->
    <h1>记事本</h1>
    <input v-model="inputValue" @keyup.enter="add" autofocus="autofocus" autocomplete="off" placeholder="请输入任务" class="new-todo"/>
    <!--列表区域-->
    <session class="main">
        <ul class="todo-list">
            <li class="todo" v-for>

            </li>
        </ul>
    </session>
</header>
</body>
</html>